<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <style>
      body {
        line-height: 1.6;
        margin: 20px;
        font-family: Arial;
      }
      h1 {
        color:rgb(47, 67, 87);
        text-align: center;
      }
      .error-message {
        color: red;
        font-weight: bold;
        text-align: center;
      }
      .query {
        margin-bottom: 20px;
        /*font-style: italic;*/
        display: flex;
        flex-direction: row;
      }
      .query-string {
        margin-left: 5px;
        font-weight: bold;
        font-style: italic;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      li {
        background:rgb(249, 249, 249);
        margin: 10px 0;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
      strong {
        color:rgb(136, 0, 113);
      }
      summary {
        cursor: pointer;
        font-weight: bold;
        color: rgb(136, 0, 113);
      }
      summary:hover {
        text-decoration: underline;
      }
      details ul {
        margin-left: 20px;
      }
      .review-item {
        margin-bottom: 10px;
      }
      .review-item:hover {
        background-color:rgb(255, 239, 138);
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <h1>PRIMED Search Results</h1>

    <% if @results["response"]["numFound"] == 0 %>
      <p class="error-message">No documents were found that matched your query.</p>
    <% else %>
      <div class="query">Query: <div class="query-string"> <%= @results["responseHeader"]["params"]["q"] %></div></div>
      <ul>
        <% @results["response"]["docs"].each do |result| %>
          <li>
            <strong>Drug:</strong> <%= result["drug"].is_a?(Array) ? result["drug"].join(", ") : result["drug"] %><br>
            <strong>Composition:</strong> <%= result["composition"].is_a?(Array) ? result["composition"].join(", ") : result["composition"] %><br>
            <strong>Average Rating:</strong> <%= result["reviews_average_rating"] %><br>
            <details>
              <summary>Reviews</summary>
              <ul>
                <% result["reviews"]&.each do |review| %>
                  <li class="review-item"><%= review %></li>
                <% end %>
              </ul>
            </details>
          </li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>
